.forGreenArea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
}

@font-face {
    font-family: 'Lato';
    src: url('public/Lato/LatoLatin-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url('public/Lato/LatoLatin-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url('public/Lato/LatoLatin-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000000;
}

.nav {
    height: 9.045rem;
    box-shadow: 0px 0.268rem 0.402rem #00000029;
    display: grid;
    grid-template-columns: min-content repeat(4, auto) 1fr;
    align-content: center;
    padding-right: 2.345rem;
    padding-left: 2.345rem;
}

.nav__logo {
    width: 6.6365rem;
    padding-right: 3.618rem;
}

.nav__link {
    font-size: 1.876rem;
    text-decoration: none;
    color: #000000;
    align-self: center;
    font-weight: 500;
    margin-right: 5.36rem;
}

.nav__button {
    font-size: 1.876rem;
    font-weight: 500;
    color: #FFFFFF;
    background: #00792B;
    border: 1px solid #707070;
    border-radius: 0.938rem;
    height: 3.618rem;
    width: 16.683rem;
    justify-self: right;
    align-self: center;
}

.header-primary {
    font-size: 4.02rem;
    font-weight: bold;
}

.text-primary {
    font-size: 1.876rem;
    font-weight: 500;
}

.button-primary {
    width: 19.966rem;
    height: 4.288rem;
    background: #00792B;
    border: 1px solid #707070;
    border-radius: 0.938rem;
    font-size: 2.278rem;
    font-weight: 500;
    color: #FFFFFF;
}

.content-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50.786rem;
    place-items: center;
}

.content-intro__text {
    padding-top: 3.35rem;
    padding-bottom: 4.02rem;
    max-width: 46.23rem;
}

.content-intro__header {
    max-width: 36rem;
}


.content-intro__img {
    width: 51.121rem;
}

/*
    Colours
*/
.red-text {
    color: #C00C00;
}

/*
    Covid Response
*/
.covid-response {
    background: #E8E8E8;
    border: 1px solid #707070;
    display: grid;
    place-items: center;
    font: normal normal normal 2.2rem/3.6rem Lato;
    margin: auto;
    max-width: 165.3rem;
}