@media screen and (max-width: 750px) {
    .nav {
        grid-template-columns: min-content 1fr min-content;
        padding-right: 3.4rem;
        padding-left: 3.4rem;
    }

    .nav__logo {
        margin-right: 0;
    }

    .nav__link {
        display: none;
    }

    .nav__button {
        font-size: 2.8rem;
        justify-self: center;
    }

    .nav__hamburger {
        display: grid;
        gap: 1.8rem;
        align-self: center;
        cursor: pointer;
    }

    .nav__hamburger-line {
        width: 6.5rem;
        height: 0.4rem;
        background-color: #666;
    }
    #menu
    {
        position: absolute;
        width: 100%;
    }

    .responsive {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }

    #menu ul
    {
        background: #ffffff;
        grid-column: 2;
        list-style-type: none;
        box-shadow: 0px 4px 6px #00000029;
        font-size: 2.8rem;
        margin: 0;
        text-align: right;
        display: grid;
        padding: 0;
    }

    #menu ul a {
        text-decoration: none;
        color: #000000;
        padding: 10px 0;
        padding-right: 2.1rem;
    }

    #menu ul a:hover {
        background-color: #666666;
        color: #ffffff;
        transition: all 0.2s;
        cursor: pointer;
    }

    .header-primary {
        font-size: 3.8rem;
    }

    .text-primary {
        font-size: 2.2rem;
        line-height: 3.2rem;
    }

    .content-intro {
        grid-template-columns: 1fr;
        gap: 3.4rem;
        margin-left: 4rem;
        margin-right: 4rem;
        padding-left: 0;
        padding-right: 0;
    }

    .content-intro__img {
        grid-row: 1;
        max-width: 100%;
    }

    .small-text {
        padding-left: 5.8rem;
        padding-right: 5.8rem;
    }

    .features {
        padding-left: 4rem;
        padding-right: 4rem;
        background: transparent radial-gradient(40% 7% at 27% 54%, #0009 0%, #000 100%) 0% 0% no-repeat padding-box;
    }

    .features__header-first {
        max-width: 46.8rem;
        font-size: 6rem;
    }

    .features__text-first {
        max-width: 62.3rem;
    }

    .features__header-second {
        max-width: 71rem;
        font-size: 6rem;
    }

    .features__text-second {
        max-width: 60rem;
    }

    .features__stats {
        grid-template-columns: 1fr 1fr;
    }

    .features__stats-img {
        width: 100%;
        max-width: 32.6rem;
        grid-column: 1;
    }

    .features__stats-text {
        display: grid;
        grid-template-columns: auto;
        gap: 3.1rem;
        padding-left: 0;
    }

    .features__stats-header {
        font-size: 4.1rem;
    }

    .features__stats-text-text {
        font-size: 2.3rem;
    }

    .features__stats-desktop {
        display: none;
    }

    .features__stats-mobile {
        display: block;
    }

    .features__bubble-mobile {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        gap: 4rem;
        width: 100%;
        padding-top: 4rem;
        padding-bottom: 4rem;
        text-align: center;
    }

    .features__bubble-mobile hr {
        margin: 0;
    }

    .video {
        margin-top: 8.75rem;
        margin-bottom: 3.3rem;
    }

    .app-img {
        height: 10.6666667vw;
    }

    .community .content-intro__img {
        grid-row: 1;
    }

    .community .content-intro__content {
        text-align: center;
    }
    .community .content-intro__text {
        font-size: 2.8rem;
        line-height: 4.8rem;
        margin-bottom: 0;
    }

    .community__header {
        font-size: 6rem;
    }

    .community__stats {
        grid-template-columns: 1fr;
        gap: 7.5rem;
    }

    .community__stats-percent-text {
        font-size: 2.4rem;
    }

    .meet-the-team {
        /* padding-left: 1.7rem;
        padding-right: 1.7rem; */
        max-width: 70rem;
    }
    .meet-the-team-header {
        font-size: 6rem;
        padding-bottom: 5rem;
    }

    .member__content-img {
        width: 26vw;
        height: 26vw;
    }

    .member-stats {
        gap: 3.6rem;
    }

    .member__content {
        padding: 3rem 3rem;
    }

    .member__content-name {
        font-size: 2.7rem;
    }

    .member__content-role-primary {
        font-size: 2rem;
    }

    .member__content-role-secondary {
        font-size: 2rem;
    }

    .member__content-favourites {
        font-size: 2rem;
    }

    .arrow-right {
        border-top: 2rem solid transparent;
        border-bottom: 2rem solid transparent;
        border-left: 3rem solid #666666;
    }

    .arrow-left {
        border-top: 2rem solid transparent;
        border-bottom: 2rem solid transparent;
        border-right: 3rem solid #666666;
    }

    [data-controls="prev"] {
        width: 3rem;
    }

    [data-controls="next"] {
        width: 3rem;
    }

    .additional-features {
        padding-left: 3.6rem;
        padding-right: 3.6rem;
    }

    .additional-features__intro {
        grid-template-columns: 1fr;
        padding-bottom: 6.9rem;
        gap: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .additional-features__text {
        max-width: 69rem;
        font-size: 3.6rem;
    }

    .additional-features__img {
        width: 100%;
        max-width: 37.8rem;
        padding-bottom: 5rem;
    }

    .additional-features__icons {
        display: none;
    }

    .additional-features__icons-mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .additional-features__icons-img {
        max-width: 13.4rem;
        align-self: center;
    }

    .additional-features__icons-header {
        font-size: 2.8rem;
    }

    .additional-features__icons-text {
        font-size: 2.2rem;
        max-width: 32rem;
    }

    .job-postings {
        padding-top: 7rem;
        padding-bottom: 7rem;
        padding-left: 3.7rem;
        padding-right: 3.7rem;
    }

    .job-postings__container {
        padding-top: 4.7rem;
        padding-bottom: 5.8rem;
    }

    .job-postings__content {
        padding-top: 4rem;
        padding-bottom: 8rem;
        padding-left: 3.7rem;
        padding-right: 3.7rem;
        gap: 4rem;
    }

    .job-postings__content-header {
        font-size: 4rem;
    }

    .job-postings__content-date {
        font-size: 2.1rem;
    }

    .ngt {
        padding: 0;
    }
    .ngt-grid {
        grid-template-columns: auto;
        gap: 6.5rem;
        padding: 4.5rem 3.8rem;
    }

    .ngt-img {
        max-width: 67.5rem;
    }

    .ngt-content {
        text-align: center;
        justify-items: center;
        gap: 0;
    }

    .ngt-header {
        font-size: 5.8rem;
    }

    .contact-header {
        font-size: 5.2rem;
    }

    .contact-text {
        display: none;
    }

    .contact-text-mobile {
        display: block;
        font-size: 3.6rem;
        font-weight: 500;
        text-align: center;
        padding-bottom: 5.7rem;
    }

    .contact-person {
        gap: 2.9rem;
    }

    .contact-img {
        width: 9.1rem;
    }

    .contact-name {
        font-size: 4rem;
    }


}