@media screen and (max-width: 1080px) {
    .nav__logo {
        width: 9.5rem;
        margin-right: 2vw;
    }

    .nav__link {
        font-size: 2rem;
        margin-right: 2.1vw;
    }

    .nav__button {
        font-size: 2rem;
    }

    .header-primary {
        font-size: 4rem;
    }

    .text-primary {
        font-size: 2rem;
    }

    .features {
        background: transparent radial-gradient(40% 20% at 27% 45%, #00000099 0%, #000 100%) 0% 0% no-repeat padding-box;
    }

    .features__stats-text-text {
        font-size: 2rem;
    }
    .features__stats {
        grid-template-columns: 1fr 1fr;
    }
    .features__stats-img {
        grid-column: 1;
    }

    .ngt-grid {
        grid-template-columns: auto;
        justify-items: center;
    }

    .ngt-content {
        gap: 6.4rem;
    }

    .ngt-header {
        align-self: start;
        margin-bottom: 3.6rem;
    }

    .ngt-text {
        margin-bottom: 4rem;
        line-height: 2em;
    }

    .meet-the-team {
        max-width: 102rem;
    }
    .arrow-right {
        border-top: 2.1rem solid transparent;
        border-bottom: 2.1rem solid transparent;
        border-left: 2.8rem solid #999;
    }

    .arrow-left {
        border-top: 2.1rem solid transparent;
        border-bottom: 2.1rem solid transparent;
        border-right: 2.8rem solid #999;
    }

    .tns-ovh {
        padding-left: 0;
        padding-right: 0;
    }

    [data-controls="prev"] {
        width: 3rem;
    }

    [data-controls="next"] {
        width: 3rem;
    }
}