@font-face {
    font-family: 'Lato';
    src: url('public/Lato/LatoLatin-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url('public/Lato/LatoLatin-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url('public/Lato/LatoLatin-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url('public/Lato/LatoLatin-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url('public/Lato/LatoLatin-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 10px;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #000000;
}

.nav {
    height: 13.5rem;
    box-shadow: 0px 4px 6px #00000029;
    display: grid;
    grid-template-columns: min-content repeat(4, auto) 1fr;
    align-content: center;
    padding-right: 1.82291667vw;
    padding-left: 1.77083333vw;
}

.nav__logo {
    width: 9.5rem;
    margin-right: 2.8125vw;
}

.nav__link {
    font-size: 2.8rem;
    text-decoration: none;
    color: #000000;
    align-self: center;
    font-weight: 500;
    margin-right: 4.16666667vw;
}

.nav__button {
    font-size: 2.8rem;
    font-weight: 500;
    color: #FFFFFF;
    background: #00792B;
    border: 1px solid #707070;
    border-radius: 1.4rem;
    height: 5.4rem;
    width: 100%;
    max-width: 24.9rem;
    justify-self: right;
    align-self: center;
}

#menu {
    display: none;
}

.header-primary {
    font-size: clamp(2.8rem, 3.125vw, 6rem);
    font-weight: bold;
}

.text-primary {
    font-size: clamp(2rem, 1.45833333vw, 2.8rem);
    font-weight: 500;
}

.button-primary {
    width: clamp(16rem, 15.5208333vw, 29.8rem);
    height: clamp(4rem, 3.33333333vw, 6.4rem);
    background: #00792B;
    border: 1px solid #707070;
    border-radius: 1.4rem;
    font-size: clamp(2.4rem, 1.77083333vw, 3.4rem);
    font-weight: 500;
    color: #FFFFFF;
}

.content-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: clamp(45rem, 39.4791667vw, 75.8rem);
    place-items: center;
}

.content-intro__text {
    padding-top: clamp(1.8rem, 2.60416667vw, 5rem);
    padding-bottom: clamp(2.8rem, 3.125vw, 6rem);
    width: clamp(32.8rem, 35.9375vw, 69rem);
}

.content-intro__header {
    width: clamp(32.8rem, 27.58vw, 52.8rem);
}


.content-intro__img {
    width: clamp(37.5rem, 39.7395833vw, 76.3rem);
}

/*
    Colours
*/
.red-text {
    color: #C00C00;
}

/*
    Covid Response
*/
.covid-response {
    width: 100%;
    background: #f3f3f3;
    border: 1px solid #b8b8b8;
    display: grid;
    place-items: center;
    font-size: clamp(1.5rem, 1.14583333vw, 2.2rem);
    margin: auto;
}

.small-text {
    width: 86.09375vw;
    max-width: 165.3rem;
}

.features {
    background: transparent url('public/Rectangle 41.svg') 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: auto;
    place-items: center;
    padding-top: clamp(1.8rem, 5.208333333vw, 10rem);
    padding-bottom: clamp(1.8rem, 3.125vw, 6rem);
}

.features__header-first {
    text-align: center;
    padding-bottom: clamp(1.8rem, 2.60416667vw, 5rem);
}

.features__text-first {
    width: clamp(32.8rem, 53.5416667vw, 102.8rem);
    text-align: center;
}

hr {
    color: #FFFFFF;
    width: clamp(32.8rem, 89.5833333vw, 172rem);
    margin-top: clamp(1.8rem, 3.61979167vw, 6.95rem);
    margin-bottom: clamp(1.8rem, 3.671875vw, 7.05rem);
}

.features__header-second {
    width: 53.5416667vw;
    max-width: 60.2rem;
    text-align: center;
    padding-bottom: clamp(1.8rem, 1.45833333vw, 2.8rem);
}

.features__text-second {
    width: 61.1458333vw;
    max-width: 117.4rem;
    text-align: center;
    padding-bottom: clamp(1.8rem, 1.45833333vw, 2.8rem);
}

.features__stats {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.features__stats-img {
    width: 20.2083333vw;
    max-width: 38.8rem;
    grid-column: 2;
}

.features__stats-text {
    display: grid;
    grid-template-columns: auto;
    gap: clamp(1.8rem, 2.8125vw, 5.4rem);
    padding-left: clamp(1.8rem, 1.5625vw, 3rem);
}

.features__stats-header {
    font-size: clamp(2.1rem, 2.39583333vw, 4.6rem);
}

.features__bubble {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.featues__bubble-text {
    width: 23.0729167vw;
    max-width: 44.3rem;
    align-self: start;
}

.features__bubble-stars {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: clamp(2.1rem, 2.23958333vw, 4.3rem);
    align-self: end;
}

.bubble {
    position: relative;
    background: #000000;
    color: #FFFFFF;
    text-align: center;
    width: 89.5833333vw;
    max-width: 172rem;
    height: clamp(2.1rem, 15.625vw, 30rem);
    border-radius: 14px;
    padding: 0px;
    border: #ffffff solid 2px;
}
.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 40px 20px 0;
    border-color: transparent #000000 transparent transparent;
    bottom: -20px;
    left: 78%;
    margin-left: -20px;
}
.bubble:before {
    content: '';
    position: absolute;
    width: 0;
    z-index: 0;
    border-style: solid;
    border-width: 0 42px 22px 0;
    border-color: transparent #ffffff transparent transparent;
    bottom: -24px;
    left: 78%;
    margin-left: -20px;
    display: block;
}

.video {
    width: clamp(37.5rem, 41.71875vw, 80.1rem);
    height: clamp(18.8rem, 20.9895833vw, 40.3rem);
    background-color: grey;
    margin-top: clamp(1.8rem, 2.5171875vw, 4.833rem);
    margin-bottom: clamp(1.8rem, 2.65625vw, 5.1rem);
}

.app-text {
    font-size: clamp(2rem, 1.45833333vw, 2.8rem);
    font-weight: bold;
    padding-bottom: clamp(1rem, 1.61458333vw, 3.1rem);;
}

.app-img-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: clamp(1rem, 2.23958333vw, 4.3rem);
}
.app-img {
    height: clamp(3rem, 4.16666667vw, 8rem);
}


/*
    Community
*/
.community {
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #E8E8E8 100%) 0% 0% no-repeat padding-box;
}

.community__stats {
    background: #00792B;
    border: 1px solid #707070;
    border-radius: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #FFFFFF;
    place-items: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    margin: auto;
    padding-top: 2.5rem;
    padding-bottom: clamp(2.5rem, 1.82291667vw, 3.5rem);
    width: clamp(37.5rem, 89.5833333vw, 172rem);
}

.community__stats-percent {
    font-size: clamp(6.5rem, 3.69791667vw, 7.1rem);
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: clamp(1.4rem, 1.30208333vw, 2.5rem);
}

.community__stats-percent-text {
    font-size: clamp(1.5rem, 1.25vw, 2.4rem);
    font-weight: 500;
    width: clamp(22rem, 16.3541667vw, 31.4rem);
}

.community__stats-review {
    font-size: clamp(1.9rem, 1.77083333vw, 3.4rem);
    font-weight: 300;
    width: clamp(32.8rem, 26.25vw, 50.4rem);
    padding-bottom: clamp(1.4rem, 1.30208333vw, 2.5rem); 
}

.community__stats-review-employee {
    font-size: clamp(1.1rem, 1.25vw, 2.4rem);
    font-weight: 500;
}

.community__stats-review-location {
    font-size: clamp(1.1rem, 1.25vw, 2.4rem);
    font-style: italic;
}

.community__source {
    font-size: clamp(1.3rem, 0.9375vw, 1.8rem);
    font-weight: 500;
    color: #666666;
    width: clamp(37.5rem, 89.5833333vw, 172rem);
    display: grid;
    justify-items: end;
    margin: auto;
    padding-top: 1.5rem;
    padding-bottom: 4.7rem;
}

/*
    Meet the Team
*/
.meet-the-team-header {
    padding-bottom: clamp(1.8rem, 3.95833333vw, 7.6rem);
    text-align: center;
}

.meet-the-team {
    max-width: 120.0rem;
    margin: auto;
    padding-bottom: clamp(1.8rem, 4.16666667vw, 8rem);
}
.team-members-list {
    padding-bottom: 4rem;
    padding-left: 0;
}
.member__content {
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 3px 6px #00000029;
    padding: clamp(1rem, 2.8125vw, 5.4rem) clamp(1rem, 3.48958333vw, 6.7rem);
    max-width: 76.2rem;
}

.member-stats {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: clamp(1rem, 2.23958333vw, 4.3rem);
}

.member__content-img {
    border-radius: 50%;
    width: 12.7083333vw;
    height: 12.7083333vw;
    max-width: 244px;
    background-color: grey;
}

.member__content-name {
    font-size: clamp(2.1rem, 1.66666667vw, 3.2rem);
    font-weight: bold;
}

.member__content-role-primary {
    font-size: clamp(1.7rem, 1.25vw, 2.4rem);
    font-weight: 500;
}

.member__content-role-secondary {
    font-size: clamp(1.7rem, 1.25vw, 2.4rem);
    font-style: italic;
}

.member__content-favourites {
    font-size: clamp(1.7rem, 1.25vw, 2.4rem);
    padding-top: clamp(0.9rem, 1.40625vw, 2.7rem);
    padding-bottom: clamp(0.9rem, 1.25vw, 2.4rem);
}
.member__content-favourites-bold {
    font-weight: bold;
}

.member__content-quote {
    font-size: clamp(1.8rem, 1.45833333vw, 2.8rem);
    font-weight: 300;
}

.tns-nav {
    text-align: center;
}

.tns-nav > [aria-controls] {
    width: clamp(1rem, 1.04166667vw, 2rem);
    height: clamp(1rem, 1.04166667vw, 2rem);
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #707070;
}

.tns-nav > .tns-nav-active {
    background: #666;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: clamp(2rem, 2.60416667vw, 5rem) solid transparent;
    border-bottom: clamp(2rem, 2.60416667vw, 5rem) solid transparent;
    border-left: clamp(3rem, 3.125vw, 6rem) solid #666666;
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: clamp(2rem, 2.60416667vw, 5rem) solid transparent;
    border-bottom: clamp(2rem, 2.60416667vw, 5rem) solid transparent;
    border-right: clamp(3rem, 3.125vw, 6rem) solid #666666;
}

.tns-outer {
    display: grid;
}

.tns-controls {
    display: grid;
    grid-template-columns: auto auto;
    grid-row: 1;
    grid-column: 1;
}

.tns-ovh {
    grid-column: 1;
    grid-row: 1;
    padding-left: clamp(2rem, 9.16666667vw, 17.6rem);
    padding-right: clamp(2rem, 9.16666667vw, 17.6rem);
}
  
[data-controls] {
    border: 0;
    padding: 0;
    z-index: 1;
    background: transparent;
}

[data-controls="prev"] {
    width: clamp(3rem, 3.125vw, 6rem);
}

[data-controls="next"] {
    width: clamp(3rem, 3.125vw, 6rem);
    justify-self: end;
}

/*
    What More Could You Ask For?
*/
.additional-features {

}

.additional-features__intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding-bottom: clamp(6.4rem, 6.45052083vw, 12.385rem);
}

.additional-features__header {
    text-align: center;
    padding-top: clamp(1.8rem, 5.20833333vw, 10rem);
    padding-bottom: clamp(3.2rem, 5.57291667vw, 10.7rem);
}

.additional-features__text {
    width: clamp(32.8rem, 35.9375vw, 69rem);
    font-size: clamp(2rem, 1.875vw, 3.6rem);
    font-weight: 500;
}

.additional-features__img {
    width: clamp(37.5rem, 21.875vw, 42rem);
}

.additional-features__icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.additional-features__icons-img {
    width: clamp(12.1rem, 6.97916667vw, 13.4rem);
    align-self: center;
}

.additional-features__icons-header {
    font-size: clamp(1.8rem, 1.97916667vw, 3.8rem);
    font-weight: bold;
    text-align: center;
}

.additional-features__icons-text {
    font-size: clamp(1.4rem, 1.45833333vw, 2.8rem);
    font-weight: 500;
    text-align: center;
    width: clamp(16.7rem, 24.8958333vw, 47.8rem);
    padding-bottom: clamp(1.7rem, 4.42708333vw, 8.5rem);
}

/*
    What More Could You Ask For?
*/
.job-postings {
    background: #000000;
    display: grid;
    justify-content: center;
    padding-top: clamp(1.8rem, 5.20833333vw, 10rem);
    padding-bottom: clamp(1.8rem, 5.20833333vw, 10rem);
}

.job-postings__container {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 20px;
    width: clamp(33rem, 78.125vw, 150rem);
    display: grid;
    justify-items: center;
    padding-top: clamp(1.8rem, 2.44791667vw, 4.7rem); 
    padding-bottom: clamp(3.2rem, 4.53125vw, 8.7rem);
}

.job-postings__content {
    padding-top: clamp(1.8rem, 3.59375vw, 6.9rem);
    padding-bottom: clamp(3.2rem, 5.67708333vw, 10.9rem);
    display: grid;
    grid-template-columns: auto;
    gap: clamp(2rem, 2.34375vw, 4.5rem);
    text-align: center;
}

.job-postings__content-header {
    font-size: clamp(2.1rem, 2.60416667vw, 5rem);
    font-weight: 500;
}

.job-postings__content-date {
    font-size: clamp(1.3rem, 1.61458333vw, 3.1rem);
    font-weight: 500;
}

.ngt {
    background: #f3f3f3;
    display: grid;
    grid-template-columns: auto 1fr;
    margin: auto;
    gap: clamp(1rem, 3.38541667vw, 6.5rem);
    padding: clamp(2rem, 3.38541667vw, 6.5rem) clamp(2rem, 5.20833333vw, 10rem) clamp(2rem, 3.38541667vw, 6.5rem) clamp(2rem, 5.20833333vw, 10rem);
}

.ngt-img {
    width: clamp(37.5rem, 33.4375vw, 64.2rem);
}

.ngt-content {
    display: grid;
    grid-template-columns: auto;
}

.ngt-header {
    font-size: clamp(2.8rem, 2.70833333vw, 5.2rem);
    font-weight: bold;
    align-self: start;
}

.ngt-text {
    font-size: clamp(2rem, 1.45833333vw, 2.8rem);
    font-weight: 500;
}

.ngt-button {
    align-self: end;
}

.contact {
    padding-top: clamp(1.8rem, 3.54166667vw, 6.8rem);
    padding-bottom: clamp(1.8rem, 4.63541667vw, 8.9rem);
    display: grid;
    justify-items: center;
}

.contact-header {
    font-size: clamp(2.8rem, 2.70833333vw, 5.2rem);
    font-weight: bold;
}

.contact-text {
    font-size: clamp(2rem, 1.875vw, 3.6rem);
    font-weight: 500;
    text-align: center;
    padding-bottom: clamp(1.8rem, 2.96875vw, 5.7rem);
}

.contact-person {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: clamp(1rem, 1.51041667vw, 2.9rem);
}

.contact-img {
    width: clamp(6.8rem, 4.73958333vw, 9.1rem);
}

.contact-name {
    font-size: clamp(1.8rem, 2.08333333vw, 4rem);
    font-weight: bold;
}