@media screen and (max-width: 480px) {
    .nav-wrap {
        height: 6.6rem;
    }
    .nav {
        height: 6.6rem;
        grid-template-columns: min-content 1fr min-content;
        padding-right: 1.4rem;
        padding-left: 1.8rem;
    }

    .nav__logo {
        width: 4.53rem;
        margin-right: 0;
    }

    .nav__button {
        font-size: 1.7rem;
        height: 3.4rem;
        width: 15.7rem;
    }

    .nav__hamburger {
        gap: 0.6rem;
    }

    .nav__hamburger-line {
        width: 3.3rem;
        height: 0.5rem;
    }

    .responsive {
        grid-template-columns: 1fr;
    }

    #menu ul
    {
        grid-column: 1;
      font-size: 1.7rem;
      text-align: center;
      padding: 0;
    }

    #menu ul a {
        text-decoration: none;
        color: #000000;
        padding: 10px 0;
        padding-right: 0;
    }

    .header-primary {
        font-size: 2.8rem;
    }

    .text-primary {
        font-size: 2rem;
    }

    .button-primary {
        width: 20rem;
        height: 5rem;
        font-size: 2.2rem;
    }

    .content-intro {
        gap: 2.8rem;
        margin: 0;
        padding-top: 4rem;
        padding-bottom: 6.6rem;
        padding-left: 2.3rem;
        padding-right: 2.3rem;
    }
    .content-intro__header {
        margin-bottom: 0;
    }
    .content-intro__text {
        padding-top: 1.8rem;
        padding-bottom: 2.8rem;
        margin-bottom: 0;
    }

    .covid-response {
        font-size: 2rem;
    }
    .small-text {
        padding-left: 2.3rem;
        padding-right: 2.3rem;
    }
    .additional-features__header {
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .additional-features__icons-mobile {
        column-gap: 2rem;
    }
    .features {
        padding-left: 0;
        padding-right: 0;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        background: transparent radial-gradient(30% 10% at 27% 47%, #00000099 0%, #000 100%) 0% 0% no-repeat padding-box;
    }

    .features__header-first {
        max-width: 21.9rem;
        padding-bottom: 1.8rem;
    }

    .features__text-first {
        padding-left: 2.3rem;
        padding-right: 2.3rem;
    }

    hr {
        margin-top: 1.8rem;
        margin-bottom: 1.8rem;
        width: calc(100vw - 4.6rem);
    }

    .features__header-second {
        padding-bottom: 1.8rem;
        padding-left: 2.3rem;
        padding-right: 2.3rem;
    }

    .features__text-second {
        padding-left: 2.3rem;
        padding-right: 2.3rem;
    }

    .features__stats {
        padding-left: 2.3rem;
        padding-right: 2.3rem;
    }

    .features__stats-text {
        gap: 1.8rem;
    }

    .features__stats-header {
        font-size: 2.3rem;
    }

    .features__stats-text-text {
        font-size: 1.5rem;
    }

    .features__bubble-mobile {
        margin-left: 2.3rem;
        margin-right: 2.3rem;
    }

    .video {
        margin-top: 2.3rem;
    }

    .app-text {
        font-size: 2rem;
        padding-bottom: 2rem;
    }

    .app-img-container {
        gap: 2rem;
        padding-right: 2.3rem;
        padding-left: 2.3rem;
    }
    .app-img {
        height: 4rem;
    }

    .community .content-intro__text {
        font-size: 2rem;
    }

    .community .content-intro__img {
        grid-row: 2;
    }

    .community .content-intro__content {
        text-align: left;
    }

    .community__stats-wrap {
        padding-left: 2.3rem;
        padding-right: 2.3rem;
    }

    .community__stats {
        gap: 3.2rem;
        padding: 1rem;
    }

    .community__stats-percent {
        font-size: 5.4rem;
        padding-bottom: 1rem;
    }

    .community__stats-percent-text {
        font-size: 1.5rem;
        max-width: 22rem;
    }

    .community__stats-review {
        font-size: 1.9rem;
        padding-bottom: 1.4rem;
    }

    .community__stats-review-employee {
        font-size: 1.1rem;
    }

    .community__stats-review-location {
        font-size: 1.1rem;
    }

    .community__source {
        font-size: 1rem;
    }

    .meet-the-team {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .member__content {
        padding: 1rem 1rem;
    }

    .member-stats {
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        align-items: center;
        gap: 1rem;
        text-align: center;
    }

    .member__content-name {
        font-size: 2.1rem;
    }

    .member__content-role-primary {
        font-size: 1.7rem;
    }

    .member__content-role-secondary {
        font-size: 1.7rem;
    }

    .member__content-favourites {
        font-size: 1.7rem;
    }

    .member__content-quote {
        font-size: 1.7rem;
    }

    .arrow-right {
        border-top: 2rem solid transparent;
        border-bottom: 2rem solid transparent;
        border-left: 3rem solid #666666;
    }

    .arrow-left {
        border-top: 2rem solid transparent;
        border-bottom: 2rem solid transparent;
        border-right: 3rem solid #666666;
    }

    [data-controls="prev"] {
        width: 3rem;
    }

    [data-controls="next"] {
        width: 3rem;
    }

    .additional-features {
        padding-left: 1.7rem;
        padding-right: 1.7rem;
    }

    .additional-features__intro {
        padding-bottom: 6.4rem;
    }

    .additional-features__text {
        width: 100%;
        font-size: 2rem;
    }

    .additional-features__img {
        width: 100%;
        max-width: 28.4rem;
        padding-bottom: 5rem;
    }
    .additional-features__icons-img {
        width: 100%;
        max-width: 12.1rem;
    }

    .additional-features__icons-header {
        font-size: 1.8rem;
    }

    .additional-features__icons-text {
        font-size: 1.4rem;
    }

    .job-postings {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 2.3rem;
        padding-right: 2.3rem;
    }

    .job-postings__container {
        padding-top: 2rem;
        padding-bottom: 3rem;
    }

    .job-postings__content {
        padding-top: 3.2rem;
        padding-bottom: 2rem;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 2rem;
    }

    .job-postings__content-header {
        font-size: 2.1rem;
    }

    .job-postings__content-date {
        font-size: 1.3rem;
    }

    .ngt-grid {
        gap: 6.4rem;
        padding: 6rem 0 1.8rem 0;
    }

    .ngt-img {
        grid-row-start: 2;
    }

    .ngt-content {
        text-align: left;
        justify-items: left;
        gap: 1.7rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .ngt-header {
        font-size: 2.8rem;
        max-width: 27rem;
    }

    .ngt-text {
        font-size: 2rem;
    }

    .ngt-button {
        align-self: end;
    }

    .contact {
        padding-top: 3.2rem;
        justify-items: left;
        padding-left: 2.3rem;
        padding-right: 2.3rem;
    }

    .contact-header {
        font-size: 2.8rem;
    }

    .contact-text-mobile {
        font-size: 2rem;
        text-align: left;
        padding-bottom: 2.5rem;
    }

    .contact-person {
        gap: 2rem;
    }

    .contact-img {
        max-width: 6.8rem;
    }

    .contact-name {
        font-size: 2.1rem;
    }

}